.fixed-navbar {
  position: relative;
  z-index: 99999;
}

.menu-header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 999;
  background: rgba(37, 48, 65, 0.7);
}

.nav-wrapper {
  position: absolute;
  background-color: transparent;
  left: 0;
  width: 100%;
  z-index: 99;
}

.nav-wrapper > nav {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.valihahotel-logo {
  transition: all 0.2s;
}

.nav-wrapper .page-links {
  transition: all 0.5s;
}

.nav-wrapper .page-links ul {
  list-style: none;
}

.nav-wrapper .page-links ul > li > a {
  text-decoration: none;
  transition: all 0.2s;
  padding: 35px 18px;
}

.nav-wrapper .page-links ul > li > a + ul {
  list-style: none;
}

@media (min-width: 991px) {
  .nav-wrapper {
    padding: 0 130px;
  }
}

@media screen and (min-width: 992px) {
  .nav-wrapper .page-links {
    position: relative;
    justify-content: flex-end;
  }

  .nav-wrapper .page-links ul > li > a {
    font-size: 16px;
    padding: 35px 20px;
    display: block;
    color: #303443;
    font-weight: 700;
    position: relative;
  }

  .nav-wrapper .page-links ul > li > a + ul {
    background-color: #fff;
    box-shadow: 0px 2px 20px 0px rgba(62, 65, 159, 0.09);
    width: 225px;
    position: absolute;
    padding: 20px 0;
    left: 0;
    top: 110%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
}

@media screen and (min-width: 992px) and (max-width: 1870px) {
  .nav-wrapper .page-links ul > li > a {
    padding: 35px 18px;
  }
}
