@import url("@fontsource/inter");

@import url("react-datepicker/dist/react-datepicker.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --slate-blue: 37, 48, 65, 0.7;
  --orange: rgb(240, 83, 63);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .title {
    @apply text-5xl font-semibold capitalize text-dark-500 py-4;
  }

  .btn {
    @apply px-6 py-3;
  }

  .btn-orange {
    @apply bg-reddish-orange-500 hover:bg-reddish-orange-400 text-white;
  }
}

.st0 {
  fill: none;
}
.st1 {
  fill: #ff5f00;
}
.st2 {
  fill: #eb001b;
}
.st3 {
  fill: #f79e1b;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide > img {
  display: block;
  width: 100%;
  height: 90% !important;
  object-fit: cover;
}

.gallery-swiper .swiper-button-prev,
.gallery-swiper .swiper-button-next,
.service-swiper .swiper-button-prev,
.service-swiper .swiper-button-next {
  background: rgb(240, 83, 63);
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 2px solid rgb(240, 83, 63);
  border-radius: 50%;
  opacity: 0.7;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #687693;
  padding: 10px;
}

.service-swiper .swiper-button-prev,
.service-swiper .swiper-button-next {
  opacity: 0;
}

.service-swiper:hover .swiper-button-prev,
.service-swiper:hover .swiper-button-next {
  opacity: 0.7;
}

.gallery-swiper .swiper-button-prev::after,
.gallery-swiper .swiper-button-next::after,
.service-swiper .swiper-button-prev::after,
.service-swiper .swiper-button-next::after {
  font-size: 20px;
  @apply text-white;
}

/* Contact Header */
.header__contact > div:not(:last-child) {
  @apply border-solid border-r-2 border-gray-200 px-3;
}

.header__contact > div {
  @apply flex items-center gap-2 py-2;
}

/* Search Rooms */
.search__rooms {
  @apply bg-white h-full flex items-center justify-between relative;
  box-shadow: 0 1px 13.5px 1.5px rgba(46, 49, 108, 0.08);
}

.react-datepicker-popper {
  z-index: 10;
}

.input-group {
  @apply mb-4 w-full;
}

.input-group label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.input-group input {
  @apply shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none bg-transparent;
}
