/* reset */

.facture > * {
	border: 0;
	box-sizing: content-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}

.facture {
	box-sizing: border-box;
	height: 720px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0.5in;
	width: 1000px;
}
.facture {
	background: #fff;
	border-radius: 1px;
}

/* content editable */

/* heading */

.facture h1 {
	font: bold 100% sans-serif;
	letter-spacing: 0.5em;
	text-align: center;
	text-transform: uppercase;
}

/* table */

.facture table {
	font-size: 75%;
	table-layout: fixed;
	width: 100%;
}
.facture table {
	border-collapse: separate;
	border-spacing: 2px;
}
.facture th,
.facture td {
	border-width: 1px;
	padding: 0.5em;
	position: relative;
	text-align: left;
}
.facture th,
.facture td {
	border-radius: 0.25em;
	border-style: solid;
}
.facture th {
	background: #eee;
	border-color: #bbb;
}
.facture td {
	border-color: #ddd;
}

/* page */

.facture html {
	font: 16px/1 "Open Sans", sans-serif;
	overflow: auto;
	padding: 0.5in;
}

/* .facture header */

.facture header {
	margin: 0 0 3em;
}
.facture header:after {
	clear: both;
	content: "";
	display: table;
}

.facture header h1 {
	background: #000;
	border-radius: 0.25em;
	color: #fff;
	margin: 0 0 1em;
	padding: 0.5em 0;
}

.facture header address {
	float: left;
	font-size: 75%;
	font-style: normal;
	line-height: 1.25;
	margin: 0 1em 1em 0;
}
.facture header address p {
	margin: 0 0 0.25em;
}
.facture header section,
.facture header img {
	display: block;
	float: right;
}
.facture header section {
	margin: 0 0 1em 1em;
	max-height: 25%;
	max-width: 60%;
	position: relative;
}
.facture header img {
	max-height: 100%;
	max-width: 100%;
}

.facture header .logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.facture header input {
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* article */

.facture article,
.facture article address,
.facture table.meta,
.facture table.inventory {
	margin: 0 0 3em;
}
.facture article:after {
	clear: both;
	content: "";
	display: table;
}
.facture article h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

.facture article address {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 12px;
	float: left;
	font-weight: normal;
	font-style: normal;
}

/* table meta & balance */

.facture table.meta,
table.balance {
	float: right;
	width: 36%;
}
.facture table.meta:after,
.facture table.balance:after {
	clear: both;
	content: "";
	display: table;
}

/* table meta */

.facture table.meta th {
	width: 40%;
}
.facture table.meta td {
	width: 60%;
}

/* table items */

.facture table.inventory {
	clear: both;
	width: 100%;
}
.facture table.inventory th {
	font-weight: bold;
	text-align: center;
}

.facture table.inventory td:nth-child(1) {
	width: 26%;
}
.facture table.inventory td:nth-child(2) {
	width: 38%;
}
.facture table.inventory td:nth-child(3) {
	text-align: right;
	width: 12%;
}
.facture table.inventory td:nth-child(4) {
	text-align: right;
	width: 12%;
}
.facture table.inventory td:nth-child(5) {
	text-align: right;
	width: 12%;
}

/* table balance */

.facture table.balance th,
.facture table.balance td {
	width: 50%;
}
.facture table.balance td {
	text-align: right;
}

/* aside */

.facture aside h1 {
	border: none;
	border-width: 0 0 1px;
	margin: 0 0 1em;
}
.facture aside h1 {
	border-color: #999;
	border-bottom-style: solid;
}

.facture .divider {
	font-size: 14px;
	text-align: center;
	border-top: 1px solid black;
	padding-top: 10px;
	text-transform: uppercase;
}

@media print {
	.facture > * {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}
	
	.facture {
		box-shadow: none;
		margin: 0;
	}
}

@page { 
	size: landscape;
}
