@import '@fontsource/poppins';
@import 'react-datepicker/dist/react-datepicker.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  transition: font-size 0.4s ease-in-out;
}

.header__nav {
  @apply bg-transparent fixed top-0 w-full z-50 h-24 flex items-center;
}

.header__nav.active {
  @apply bg-dark-muted-500;
}

.header__nav.active a {
  @apply text-white;
}

.btn, .btn-orange {
  @apply px-8 py-3
}

.btn-orange {
  @apply text-white shadow-lg bg-reddish-orange-500;
  @apply hover:bg-bright-red-500;
}

.btn-outline-orange {
  @apply border border-reddish-orange-500;
  @apply text-reddish-orange-500;
}

.border-dark {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
  @apply text-4xl font-bold my-4;
}
