@import url("@fontsource/inter");

:root {
  --white-muted: #e5e3e3;
  --dark-muted: rgba(255, 255, 255, 0.3);
  --dark-100: #303443;
  --white: #fff;
}

body {
  font-family: "Inter", sans-serif;
}

.list-style-none {
  list-style: none;
}

img {
  max-width: 100%;
}
